services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    healthcheck:
      test: [
        "CMD", "wget", "--no-verbose", "--tries=1", "--spider",
        "http://localhost:8080/health"
      ]
      interval: 5s
      timeout: 5s
      retries: 5

  e2e-tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on:
      app:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - E2E_SERVER_URL=http://app:8080
